*{
    box-sizing: border-box;
}
body{
    margin:0;
    
}
.movie-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:30px;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
.input-con{
    text-align: center;
    margin-top: 20px;
}
input{
    margin: 20px;
    font-size: 20px;
    text-indent: 50px;
}
.main-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.movieCover{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding:10px;
    height: 300px;
    width:280px;
    box-shadow: 0 5px 10px ;
}