*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: aqua;
    
}
 .movie-con{
    padding:20px;
    background-color: whitesmoke;
    border:1px solid;
    overflow:auto;
    
} 
.input-con{
    text-align: center;
    margin-top: 20px;
}
input{
    margin: 20px;
    font-size: 20px;
    text-indent: 50px;
}
.main-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.movieCover{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding:10px;
    height: 300px;
    width:280px;
    box-shadow: 0 5px 10px ;
}
.singleMovieShow{
    padding:20px;
    border:5px solid rgb(141, 22, 226);
    border-radius: 10%;
   
}

.popup {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: 70px;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid ;
    overflow: auto;
  }

  .close-icon {
    position: fixed;
    right: 160px;
    top: 70px;
    background: red;
    width: 25px;
    height: 25px;

    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }